@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Poppins-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../assets/fonts/Poppins-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../assets/fonts/Poppins-ExtraBold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}

.title,
.subtitle {
  text-align: center;
  margin: 0;
}

.title {
  font-size: 1.8em;
  margin-bottom: -10px;
  margin-top: 20px;
}

.subtitle {
  font-size: 1.3em;
  font-weight: 400;
}

.back-button {
  padding: 5px 10px !important;
  margin-top: 30px !important;
}

.section-title {
  margin-bottom: -10px;
}

ul {
  list-style: none;
  padding: 0;
}

.button {
  display: block;
  margin: 12px 0;
  padding: 10px 15px;
  border: 2px solid black;
  box-shadow: 2px 2px 0px black;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

i {
  scale: 1.5;
  margin-right: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  scale: 1.1;
  margin-right: 15px;
  stroke-width: 2;
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0.6;
}

.button:hover {
  font-weight: 700;
}

.button:hover .icon {
  opacity: 1;
}

.discord {
  color: #4161d8 !important;
}

.lightblue {
  color: #0088cc !important;
}

.green {
  color: #00d34d !important;
}

.black {
  color: black !important;
}

.yellow {
  color: #ffce4b !important;
}

.red {
  color: #a71e3b !important;
}

footer {
  text-align: center;
  color: rgb(83, 83, 83) !important;
  margin: 40px 0 20px 0;
}

footer a {
  text-decoration: none !important;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer a .icon {
  margin-right: 10px;
  opacity: 0.6;
}
