@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

.title, .subtitle {
    text-align: center;
    margin: 0;
}

.title {
    font-size: 2rem;
    margin-bottom: -13px;
}

.subtitle {
    font-size: 1.4rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: inherit;
}

li {
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid black;
    box-shadow: 2px 2px 0px  black;
    border-radius: 5px;
}

i {
    scale: 1.5;
    margin-right: 15px;
}

.lni-discord {
    color: #7289DA !important;
}

a:hover .lni-discord {
    color: #4161d8 !important;
}

.lni-telegram-original {
    color: #66aacc !important;
}

a:hover .lni-telegram-original {
    color: #0088CC !important;
}

.lni-whatsapp {
    color: #25d366 !important;
}

a:hover .lni-whatsapp {
    color: #00d34d !important;
}

.lni-google-drive {
    color: #ffdd7f !important;
}

a:hover .lni-google-drive {
    color: #ffce4b !important;
}

.lni-empty-file, .lni-list {
    color: #a54257 !important;
}

a:hover .lni-empty-file, a:hover .lni-list {
    color: #a71e3b !important;
}

a:hover {
    font-weight: 700;
}

footer {
    text-align: center;
    color: grey !important;
    margin: 40px 0 20px 0;
}

footer a {
    text-decoration: none !important;
    color: inherit;
}