main {
  position: relative;
}

ul {
  list-style: inside disc;
}

.back-button {
  padding: 5px 10px;
  margin-top: 30px;
}

.hide {
  display: none;
}

.icon {
  opacity: 1;
}

.track-title {
  cursor: pointer;
}

.track-title i {
  scale: 1;
  margin-right: 10px;
  font-weight: 800;
}

.flip {
  rotate: 180deg;
}
